*,*::before,*::after{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
}
:root{
    --animation-timing:200ms;
}

img{
    width: 700px;
    height: 400px;
    visibility: hidden;
}

.frame{
    width: 700px;
    height: 400px;
    overflow: hidden; 
    border: 5px solid black;
}

.current{
    visibility: visible;

}

svg{
    height: 100px;
    width: 100px;
}

.container{
    display: flex;
    gap: 5px;
}

.prev,
.next{
    align-self: center;
    background-color: gray;
    opacity: 0.7;
}

/* animations */

@keyframes slideIn {
    from{
        visibility: hidden;
    }
    to{
        visibility: visible;
    }
}

@keyframes slideOut {
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}