*,*::before,*::after{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
}

img{
    width: 700px;
    height: 400px;
    display: none;
}

.frame{
    width: 700px;
    height: 400px;
    overflow: hidden; 
}

.current{
    display: inline;
}