*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 700px;
    height: 400px;
}

.frame{
    width: 700px;
    height: 400px;
    overflow: hidden; 
}