/* css resets etc */

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    height: 100vh;
}

a,a:hover,a:visited{
    text-decoration: none;

}

:root{
    --animation-timing:200ms;
}

/* styles */

.trigger{
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    /* overflow: hidden; */
    bottom: 135px;
    right: 200px;
}
.menu{
    transition: transform var(--animation-timing);
    pointer-events: none;
}
.trigger{
    cursor: pointer;
}
.nav{
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    visibility: hidden;
}
/* animations for home */
.home-grow {
    animation: homeGrow var(--animation-timing) forwards;
    animation-timing-function: ease-in-out;
}

.home-shrink {
    animation: homeShrink var(--animation-timing) forwards;
    animation-timing-function: ease-in-out;
}

@keyframes homeGrow {
    from {
        transform: translate(0, 0);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translate(10px, -150px);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes homeShrink {
    from {
        transform: translate(10px, -150px);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: translate(0, 0);
        opacity: 0;
        visibility: hidden;
    }
}

/* animations for profile */

.profile-grow{
animation: profileGrow var(--animation-timing) forwards;
animation-timing-function: ease-in-out;
}

.profile-shrink{
animation: profileShrink var(--animation-timing) forwards;
animation-timing-function: ease-in-out;
}

@keyframes profileGrow {
    from {
        transform: translate(0, 0);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translate(-70px, -190px);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes profileShrink {
    from {
        transform: translate(-70px, -190px);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: translate(0, 0);
        opacity: 0;
        visibility: hidden;
    }
}