/* css resets etc */

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    height: 100vh;
}

a,a:hover,a:visited{
    text-decoration: none;

}
/* styles */

.trigger{
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    /* overflow: hidden; */
    bottom: 135px;
    right: 200px;
}
.nav{
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.home{
    transform: translate(10px, -150px);
    }

.profile{
    transform: translate(-70px, -190px);
}

.community{
    transform: translate(-120px, -190px);
}

.explore{
    transform: translate(-135px, -180px);
}

.friends{
    transform: translate(-120px, -170px);
}