/*css reset */

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/* styles */
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    color: white;
}
svg{
    height: 25px;
    width: 25px;
}

nav{
    background-color: blue;
    display: grid;
    
    
}

.main{
    background-color: red;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.close{
    display: flex;
    justify-content: flex-end;
}

.close > svg:hover{
    fill: white;
    cursor: pointer;
}

/* animations */

.closing{
    width: 0;
}