*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --bar-width:60px;
    --bar-height:8px;
    --hamburger-gap:6px;
}
